name: Проверка
on: [push]
jobs:
  linter:
    name: Линтер
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.7, 3.8, 3.9 ]
    steps:
    - uses: actions/checkout@v2
    - name: Установка Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Установка зависимостей
      run: |
        python -m pip install --upgrade pip
        pip install wemake-python-styleguide==3.15.0
        pip install mypy
    - name: Flake8
      run: flake8 .
    - name: Mypy
      run: mypy .

  send_message:
    name: Телеграм бот
    runs-on: ubuntu-latest
    needs: linter
    #if: github.ref == 'refs/heads/master'
    steps:
      - name: send message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: ${{ github.workflow }} успешно выполнен!