name: Проверка
on: [push]
jobs:
  linter:
    name: Линтер
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.7, 3.8, 3.9 ]
    steps:
    - uses: actions/checkout@v2
    - name: Установка Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Установка зависимостей
      run: |
        python -m pip install --upgrade pip
        pip install wemake-python-styleguide
        pip install mypy
    - name: Flake8
      run: |
          flake8 ./src/ --exit-zero --format=html --htmldir=reports/src/wemake-python-styleguide/
          flake8 ./etl/ --exit-zero --format=html --htmldir=reports/etl/wemake-python-styleguide/
    - name: Mypy
      run: |
          mypy --html-report reports/src/mypy/ src/* || true
          mypy --html-report reports/etl/mypy/ etl/* || true
    - name: Upload reports
      uses: actions/upload-artifact@v2
      with:
        name: reports
        path: reports/

  send_message:
    name: Телеграм бот
    runs-on: ubuntu-latest
    needs: linter
    steps:
      - name: send message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: ${{ github.workflow }} успешно выполнен!